@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-color : #000;
    --text-color : #fff;
    --sec-color: rgb(5, 245, 5);
}

*,::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body {
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
    color: var(--text-color);
}
a:hover{
    color: var(--sec-color);
}